<ng-template #accountConfirmationModal let-modal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountConfirmationModal">Deseja criar sua conta?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          Confira seus dados:
        </div>
        <div class="justify-content-center">
          <pre>{{ formRegistro.value}}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="submit()">Confirmar</button>
      </div>
    </div>
  </div>
</ng-template>

<div class="bg-light">
  <div class="container text-center">
    <div class="hstack justify-content-center">
      <div class="col-md-10 col-sm-2 mt-4">
        <h4 class="text-danger text-center mt-4 mb-2">BANTADS - Internet Banking do TADS</h4>
        <div class="card mb-2 mt-4">
          <div class="card-header">
            <h4 class="text-center">Abra agora sua Conta!</h4>
          </div>
          <div class="card-body">
            <form #formRegistration="ngForm" method="post">
              <div class="row">
                <h4>Informações Pessoais</h4>
              </div>

              <div class="row g-2">
                <div class="col-lg-2 mb-3">
                  <label for="cpf" class="form-label">CPF:</label>
                  <input type="text" class="form-control bg-light" id="cpf" placeholder="000.000.000-00" [(ngModel)]="cpf" mask="000.000.000-00" inputmode="numeric" name="cpf" required cpf />
                </div>

                <div class="col-lg-5 mb-3">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" />
                </div>

                <div class="col-lg-5 mb-3">
                  <label for="email" class="form-label">E-mail:</label>
                  <input type="email" class="form-control" id="email" />
                </div>
              </div>

              <div class="row g-3">
                <div class="col-lg-6 mb-3">
                  <label for="telefone" class="form-label">Telefone:</label>
                  <input type="tel" class="form-control" id="telefone" />
                </div>

                <div class="col-lg-6 mb-3">
                  <label for="salario" class="form-label">Salário:</label>
                  <input type="number" class="form-control" id="salario" />
                </div>
              </div>
              <div class="row">
                <h4>Dados do Endereço</h4>
              </div>
              <div class="row g-3">
                <div class="col-lg-2 mb-3">
                  <label for="tipoEndereco" class="form-label">Tipo de Endereço:</label>
                  <select class="form-select" id="tipoEndereco">
                    <option value="rua">Rua</option>
                    <option value="avenida">Avenida</option>
                  </select>
                </div>
                <div class="col-lg-8 mb-3">
                  <label for="logradouro" class="form-label">Logradouro:</label>
                  <input type="text" class="form-control" id="logradouro" />
                </div>
                <div class="col lg-2 mb-3">
                  <label for="numero" class="form-label">Número:</label>
                  <input type="text" class="form-control" id="numero" />
                </div>
              </div>

              <div class="row g-3">
                <div class="col-lg-3 mb-3">
                  <label for="complemento" class="form-label">Complemento:</label>
                  <input type="text" class="form-control" id="complemento" />
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="cep" class="form-label">CEP:</label>
                  <input type="text" class="form-control" id="cep" />
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="cidade" class="form-label">Cidade:</label>
                  <input type="text" class="form-control" id="cidade" />
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="estado" class="form-label">Estado:</label>
                  <input type="text" class="form-control" id="estado" />
                </div>
              </div>

              <div class="w-auto mb-3 text-center">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="criarConta">Criar Conta</button>
              </div>

            </form>

            <div class="modal fade" id="criarConta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">Conta criada!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="justify-content-center">
                      <p>Sua solicitação foi enviada. Aguarde a confirmação no e-mail enviado</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ok</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row justify-content-center text-center mt-1">
          <p class="text-secondary" style="font-size: 14px;">Bantads &copy; 2024</p>
        </div>
      </div>
    </div>
  </div>