<div class="bg-light">
  <div class="container text-center">
    <div class="hstack justify-content-center">
      <div class="col-md-10 col-sm-2 mt-4">
        <h4 class="text-danger text-center mt-4 mb-2">BANTADS - Internet Banking do TADS</h4>
        <div class="card mb-2 mt-4">
          <div class="card-header">
            <h4 class="text-center">Abra agora sua Conta!</h4>
          </div>
          <div class="card-body">
            <form *ngIf="statusMessage && !statusMessage.status" #registerForm="ngForm">
              <div class="row">
                <h4>Informações Pessoais</h4>
              </div>

              <div class="row g-2">
                <div class="col-lg-2 mb-3">
                  <label for="cpf" class="form-label">CPF:</label>
                  <input 
                  [(ngModel)]="client.cpf" 
                  type="text"
                  name="cpf"
                  class="form-control bg-light" 
                  id="cpf" 
                  [showMaskTyped]="true"
                  [shownMaskExpression]="'___.___.___-__'"
                  mask="000.000.000-00" 
                  required cpf />
                </div>

                <div class="col-lg-5 mb-3">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="client.name" />
                </div>

                <div class="col-lg-5 mb-3">
                  <label for="email" class="form-label">E-mail:</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="client.email"  />
                </div>
            </div> 
              <div class="row g-3">
                <div class="col-lg-6 mb-3">
                  <label for="telefone" class="form-label">Telefone:</label>
                  <input type="text" class="form-control" id="phone" 
                  [showMaskTyped]="true" [specialCharacters]="['(', ')', '-', ' ']" [shownMaskExpression]="'(__) _____-____'" mask="(00) 00000-0000" 
                  [(ngModel)]="client.phone"/>
                </div>

                <div class="col-lg-6 mb-3">
                  <label for="salario" class="form-label">Salário:</label>
                  <input type="number" class="form-control" id="salary" [(ngModel)]="client.salary"/>
                </div>
              </div>
              <div class="row">
                <h4>Dados do Endereço</h4>
              </div>
              <div class="row g-3">
                <div class="col-lg-2 mb-3">
                  <label for="tipoEndereco" class="form-label">Tipo de Endereço:</label>
                  <input type="text" class="form-control" id="addressType" [(ngModel)]="client.address.addressType"/>
                </div>
                <div class="col-lg-8 mb-3">
                  <label for="logradouro" class="form-label">Logradouro:</label>
                  <input type="text" class="form-control" id="street" [(ngModel)]="client.address.street"/>
                </div>
                <div class="col lg-2 mb-3">
                  <label for="numero" class="form-label">Número:</label>
                  <input type="text" class="form-control" id="number" [(ngModel)]="client.address.number"/>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-lg-3 mb-3">
                  <label for="complemento" class="form-label">Complemento:</label>
                  <input type="text" class="form-control" id="complement" [(ngModel)]="client.address.complement"/>
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="cep" class="form-label">CEP:</label>
                  <input type="text" class="form-control" id="cep" [(ngModel)]="client.address.cep"/>
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="cidade" class="form-label">Cidade:</label>
                  <input type="text" class="form-control" id="city" [(ngModel)]="client.address.city"/>
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="estado" class="form-label">Estado:</label>
                  <input type="text" class="form-control" id="estado" [(ngModel)]="client.address.state"/>
                </div>
              </div>
              <div class="row">
                <div class="h-stack gap-2">
                  <div class="col-12">
                    <button class="btn btn-outline-primary" type="button" >
                      Voltar
                    </button>
                    <button
                    type="submit"
                    (click)="addClient(client)"
                    class="btn btn-danger">
                    Cadastrar
                  </button>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="statusMessage && statusMessage.status" class="row-mb-3">
              <div [ngClass]="statusMessage.style">
                <span><i [ngClass]="statusMessage.icon"></i></span>
                {{ statusMessage.message }}
              </div>
              <button class="btn btn-outline-danger" type="button" (click)="newRegister()">
                Criar Conta
              </button>
              

          </div>
        </div>
        <div class="row justify-content-center text-center mt-1">
          <p class="text-secondary" style="font-size: 14px;">Bantads &copy; 2024</p>
        </div>
      </div>
    </div>
  </div>