<div class="card">
  <div class="card-header">
    <h4 class="text-center">Três Melhores Clientes</h4>
  </div>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of sortedAccounts">
        <td>{{ account.client.name }}</td>
        <td>{{ account.client.cpf }}</td>
        <td>{{ account.balance | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!sortedAccounts || sortedAccounts.length === 0" class="d-flex align-items-center justify-content-center">
    <p>Nenhum registro encontrado</p>
  </div>
</div>
