<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="container-fluid my-4 mx-2">
    <h4>Bem-vindo, {{user.name}}</h4>
  </div>

  <div class="container-fluid my-4 mx-2">
    <h6>Avaliação de novos clientes</h6>
  </div>
  <div class="px-4 py-5 px-md-5 text-center text-lg-start h-100 d-flex align-items-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <table [hidden]="clients ? false : true" class="table table-striped">
        <thead>
          <tr>
            <th>CPF</th>
            <th colspan="2">Nome</th>
            <th>Salário</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.cpf}}</td>
            <td colspan="2">{{client.name}}</td>
            <td>{{client.salary | realPipe}}</td>
            <td>
              <div class="d-flex justify-content-around">
                <button *ngFor="let acao of acoes"
                        [ngClass]="['btn', acao.buttonStyle]" 
                        type="button"
                        (click)="acao.manageModal(modalService)">
                  <i [ngClass]="['bi', acao.icon]"></i>
                  <span class="ms-1">{{acao.title | titlecase}}</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!clients" class="container-fluid">
        <div class="d-flex px-4 py-5 px-md-5 text-center w-90 bg-info text-white">
          Nenhuma conta a ser analisada!
        </div> 
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
