<section class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Avaliação de novos clientes</h4>
  </div>
  <table *ngIf="clients.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>CPF</th>
        <th colspan="2">Nome</th>
        <th>Salário</th>
        <th class="text-center">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.cpf | cpf }}</td>
        <td colspan="2">{{ client.name }}</td>
        <td>0</td>
        <!-- <td>{{ client.salary | realPipe }}</td> -->
        <td>
          <div class="d-flex justify-content-around">
            <button
              *ngFor="let acao of acoes"
              [ngClass]="['btn', acao.buttonStyle]"
              type="button"
              (click)="openModal(client, acao.component)"
            >
              <i [ngClass]="['bi', acao.icon]"></i>
              <span class="ms-1">{{ acao.title | titlecase }}</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="clients.length === 0" class="container-fluid">
    <div class="d-flex px-1 py-2 px-md-5 text-center w-100 bg-info text-black">
      Nenhuma conta a ser analisada!
    </div>
  </div>
</section>