<div class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Consultar Cliente</h4>
  </div>
  <div class="m-4">
    <div class="col-10">
      <div class="form-group">
        <label for="cpf">Informe o CPF do Cliente:</label>
        <div class="d-flex">
          <input
            type="text"
            class="form-control"
            placeholder="Pesquisar CPF"
            [(ngModel)]="cpf"
            [mask]="mask"
            [showMaskTyped]="true"
            (ngModelChange)="onInputChange($event)"
          />
          <button class="btn btn-primary ms-3" (click)="consultClient(cpf)">
            Consultar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="clientData" class="mx-4">
    <h3>Dados do Cliente</h3>
    <p><strong>Nome:</strong> {{ clientData.name | titlecase }}</p>
    <p><strong>CPF:</strong> {{ clientData.cpf | cpf }}</p>
    <p><strong>E-mail:</strong> {{ clientData.email }}</p>
    <p><strong>Telefone:</strong> {{ clientData.phone | phone }}</p>
    <p><strong>Salário:</strong> {{ clientData.salary | realPipe }}</p>
    <p>
      <strong>Endereço Completo:</strong>
      {{
        clientData.address.type +
          " " +
          clientData.address.street +
          ", " +
          clientData.address.number +
          " " +
          "(" +
          clientData.address.cep +
          ")" +
          clientData.address.city +
          " - " +
          clientData.address.state
      }}
    </p>

    <h3>Dados da Conta</h3>
    <p *ngIf="accountData"><strong>Número da Conta:</strong> {{ accountData.id }}</p>
    <p *ngIf="accountData"><strong>Data de Criação:</strong> {{ accountData.createdAt | date }}</p>
    <p *ngIf="accountData"><strong>Saldo da conta:</strong> {{ accountData.balance }}</p>
  </div>
  <div *ngIf="mensagemErro" class="alert alert-danger">
    {{ mensagemErro }}
  </div>
</div>
