<div class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Consultar Cliente</h4>
  </div>
  <div class="m-4">
    <div class="col-10">
      <div class="form-group">
        <label for="cpf">Informe o CPF do Cliente:</label>
        <div class="d-flex">
          <input type="text" class="form-control" id="cpf" [(ngModel)]="cpf"
          [showMaskTyped]="true" [shownMaskExpression]="'___.___.___-__'"
          mask="000.000.000-00"/>
          <button class="btn btn-primary ms-3" (click)="consultClient(cpf)">
            Consultar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="client">
    <h3>Dados do Cliente</h3>
    <h6>
      <strong>{{ client.name | titlecase}} </strong>
    </h6>
    <p><strong>CPF:</strong> {{ client.cpf | cpf}}</p>
    <p><strong>E-mail:</strong> {{ client.email }}</p>
    <p><strong>Telefone:</strong> {{ client.phone | phone}}</p>
    <p><strong>Salário:</strong> {{ client.salary | realPipe}}</p>
    <p>
      <strong>Endereço Completo:</strong>
      {{
        client.address.type +
          " " +
          client.address.street +
          ", " +
          client.address.number +
          " " +
          "(" +
          client.address.cep +
          ")" +
          client.address.city +
          " - " +
          client.address.state
      }}
    </p>

    <h3>Dados da Conta</h3>
    <p><strong>Número da Conta:</strong> {{ account.accountId }}</p>
    <p><strong>Data de Criação:</strong> {{ account.creationDate | date }}</p>
    <p><strong>Saldo da conta:</strong> {{ account.balance }}</p>
  </div>
  <div *ngIf="mensagemErro" class="alert alert-danger">
    {{ mensagemErro }}
  </div>
</div>
