<div class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Transferir</h4>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-lg-4 mb-3">
          <label for="numero-conta" class="form-label"
            >Número da conta do beneficiário</label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="destination-account"
              name="destinationAccountId"
              [(ngModel)]="transaction.destinationAccountId"
              placeholder="Conta"
              required
              numerico
            />
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-lg-4 mb-3">
          <label for="valor-tranferencia" class="form-label"
            >Valor da transferência:</label
          >
          <input
            [(ngModel)]="transaction.ammount"
            class="form-control"
            id="ammount"
            name="ammount"
            required
            mask="separator.2"
            prefix="R$ "
            thousandSeparator="."
            decimalMarker=","
          />
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="mx-4 text-center">
          <button
            (click)="openModal(transaction)"
            type="button"
            class="btn btn-outline-danger"
          >
            Confirmar Transferência
          </button>
        </div>
        <div class="mx-4 text-center">
          <button
            routerLink="/home"
            type="button"
            class="btn btn-outline-secondary"
          >
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
