<div class="container-fluid my-4 mx-2">
  <h4>Bem-vindo, {{user.name}}</h4>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card table-responsive p-3 my-2 mx-2">
        <h5>Quadro de gerentes</h5>
        <table>
          <thead>
            <tr class="d-flex justify-content-between">
              <th>Nome do gerente:</th>
              <th>Qtd de clientes:</th>
              <th>Saldo positivo</th>
              <th>Saldo negativo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let manager of managerData" class="card text-bg-light p-3 my-2">
              <div class="d-flex justify-content-between">
                <td>{{ manager.name }}</td>
                <td>{{ manager.quantity }}</td>
                <td>{{ manager.positiveBalance }}</td>
                <td>{{ manager.negativeBalance }}</td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

