<div class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Quadro de gerentes</h4>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome do gerente</th>
        <th>Qtd de clientes</th>
        <th>Saldo positivo</th>
        <th>Saldo negativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let manager of managerData">
        <td>{{ manager.name | titlecase}}</td>
        <td>{{ manager.quantity }}</td>
        <td>{{ manager.positiveBalance | realPipe}}</td>
        <td>{{ manager.negativeBalance | realPipe}}</td>
      </tr>
    </tbody>
  </table>
</div>
