<section class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Listar todos os gerentes</h4>
  </div>

  <div>
    <div class="m-2">
      <input
        #filter
        type="text"
        class="form-control"
        placeholder="Pesquisar por CPF ou Nome"
        (change)="filterManager(filter.value)"
      />
    </div>
    <table [hidden]="managers ? false : true" class="table table-striped">
      <thead>
        <tr>
          <th>CPF</th>
          <th colspan="2">Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th class="text-center">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manager of managers">
          <td>{{ manager.cpf }}</td>
          <td colspan="2">{{ manager.name }}</td>
          <td>{{ manager.email }}</td>
          <td>{{ manager.phone }}</td>
          <td>
            <div class="d-flex justify-content-around">
              <button
                *ngFor="let acao of acoes"
                [ngClass]="['btn', acao.buttonStyle]"
                type="button"
                (click)="openModal(modalService, manager, acao.component)"
              >
                <i [ngClass]="['bi', acao.icon]"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!managers" class="container-fluid">
      <div class="d-flex px-4 py-5 px-md-5 text-center w-90 bg-info text-white">
        Nenhuma conta registrada!
      </div>
    </div>
  </div>
</section>
