/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
.container-fluid p {
  margin: 0
}
html, body { height: 100%; }
body { margin: 0; background-color: #f8f9fa; font-family: Roboto, "Helvetica Neue", sans-serif; }
