<div class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Editar Perfil</h4>
  </div>
  <div>
    <div class="row mx-1 mt-2 gap-2">
      <div class="col-lg-3">
        <label for="nomeGerente" class="form-label">Gerente:</label>
        <input
          type="text"
          class="form-control"
          id="nomeGerente"
          value="John Doe"
          readonly
          disabled
        />
      </div>
      <div class="col-lg-3">
        <label for="saldo" class="form-label">Saldo:</label>
        <div class="d-flex align-items-center">
          <button class="btn btn-secondary me-5" (click)="toggleValue()">
            <i [className]="valueVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
          <span *ngIf="valueVisible">{{ saldo | realPipe }}</span>
          <span *ngIf="!valueVisible">*******</span>
        </div>
      </div>
    </div>
    <div>
      <div class="card-body">
        <form>
          <div class="row g-2">
            <div class="col-lg-2 mb-3">
              <label for="cpf" class="form-label">CPF:</label>
              <input
                type="text"
                class="form-control"
                #cpf="ngModel"
                [(ngModel)]="user.cpf"
                name="cpf"
                [showMaskTyped]="true"
                [shownMaskExpression]="'___.___.___-__'"
                mask="000.000.000-00"
                readonly
                disabled
              />
            </div>

            <div class="col-lg-5 mb-3">
              <label for="nome" class="form-label">Nome:</label>
              <input
                alfabetico
                required
                type="text"
                class="form-control"
                #name="ngModel"
                [(ngModel)]="user.name"
                name="name"
              />
            </div>

            <div class="col-lg-5 mb-3">
              <label for="email" class="form-label">E-mail:</label>
              <input
                email
                required
                type="email"
                class="form-control"
                #email="ngModel"
                [(ngModel)]="user.email"
                name="email"
              />
            </div>
          </div>

          <div class="row g-3">
            <div class="col-lg-6 mb-3">
              <label for="telefone" class="form-label">Telefone:</label>
              <input
                type="tel"
                required
                class="form-control"
                id="telefone"
                [showMaskTyped]="true"
                [specialCharacters]="['(', ')', '-', ' ']"
                [shownMaskExpression]="'(__) _____-____'"
                mask="(00) 00000-0000"
              />
            </div>

            <div class="col-lg-6 mb-3">
              <label for="salario" class="form-label">Salário:</label>
              <input required type="number" class="form-control" id="salario" />
            </div>
          </div>

          <div class="row g-3">
            <div class="col-lg-2 mb-3">
              <label for="tipoEndereco" class="form-label"
                >Tipo de Endereço:</label
              >
              <select class="form-select" id="tipoEndereco">
                <option value="rua">Rua</option>
                <option value="avenida">Avenida</option>
                <option value="avenida">Alameda</option>
                <option value="avenida">Estrada</option>
                <option value="avenida">Praça</option>
                <option value="avenida">Quadra</option>
              </select>
            </div>

            <div class="col-lg-8 mb-3">
              <label for="logradouro" class="form-label">Logradouro:</label>
              <input
                alfanumerico
                required
                type="text"
                class="form-control"
                id="logradouro"
              />
            </div>

            <div class="col-lg-2 mb-3">
              <label for="numero" class="form-label">Número:</label>
              <input
                numerico
                required
                type="text"
                class="form-control"
                id="numero"
              />
            </div>
          </div>

          <div class="row g-3">
            <div class="col-lg-3 mb-3">
              <label for="complemento" class="form-label">Complemento:</label>
              <input
                alfanumerico
                required
                type="text"
                class="form-control"
                id="complemento"
              />
            </div>

            <div class="col-lg-3 mb-3">
              <label for="cep" class="form-label">CEP:</label>
              <input
                [showMaskTyped]="true"
                [shownMaskExpression]="'_____-___'"
                mask="00000-000"
                required
                type="text"
                class="form-control"
                id="cep"
              />
            </div>

            <div class="col-lg-3 mb-3">
              <label for="cidade" class="form-label">Cidade:</label>
              <input
                alfabetico
                required
                type="text"
                class="form-control"
                id="cidade"
              />
            </div>

            <div class="col-lg-3 mb-3">
              <label for="estado" class="form-label">Estado:</label>
              <input
                alfabetico
                required
                type="text"
                class="form-control"
                id="estado"
              />
            </div>
          </div>
          <div class="w-auto mb-3 text-center">
            <button type="button" class="btn btn-outline-danger">
              Atualizar Dados
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
