<div class="card m-2">
  <div class="card-header">
    <h4 class="text-center">Editar Perfil</h4>
  </div>
  <div>
    <div class="row mx-1 mt-2 gap-2">
      <div class="col-lg-3">
        <label for="nomeGerente" class="form-label">Gerente:</label>
        <input
          type="text"
          class="form-control"
          id="nomeGerente"
          value="{{ accountData.manager.name }}"
          readonly
          disabled
        />
      </div>
      <div class="col-lg-3">
        <label for="saldo" class="form-label">Saldo:</label>
        <div class="d-flex align-items-center">
          <button class="btn btn-secondary me-5" (click)="toggleValue()">
            <i [className]="valueVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
          <span *ngIf="valueVisible">{{ accountData.balance | realPipe }}</span>
          <span *ngIf="!valueVisible">*******</span>
        </div>
      </div>
    </div>
    <div>
      <div class="card-body" *ngIf="client && client.address">
        <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
          <div class="row g-2">
            <div class="col-lg-2 mb-3">
              <label for="cpf" class="form-label">CPF:</label>
              <input
                type="text"
                class="form-control"
                id="cpf"
                [(ngModel)]="client.cpf"
                name="cpf"
                [showMaskTyped]="true"
                [shownMaskExpression]="'___.___.___-__'"
                mask="000.000.000-00"
                readonly
                disabled
              />
            </div>

            <div class="col-lg-5 mb-3">
              <label for="name" class="form-label">Nome:</label>
              <input
                required
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="client.name"
                name="name"
              />
            </div>

            <div class="col-lg-5 mb-3">
              <label for="email" class="form-label">E-mail:</label>
              <input
                required
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="client.email"
                name="email"
              />
            </div>
          </div>

          <div class="row g-3">
            <div class="col-lg-6 mb-3">
              <label for="phone" class="form-label">Telefone:</label>
              <input
                type="tel"
                required
                class="form-control"
                id="phone"
                [(ngModel)]="client.phone"
                name="phone"
                [showMaskTyped]="true"
                [specialCharacters]="['(', ')', '-', ' ']"
                [shownMaskExpression]="'(__) _____-____'"
                mask="(00) 00000-0000"
              />
            </div>

            <div class="col-lg-6 mb-3">
              <label for="salary" class="form-label">Salário:</label>
              <input
                required
                type="number"
                class="form-control"
                id="salary"
                [(ngModel)]="client.salary"
                name="salary"
              />
            </div>
          </div>

          <div class="row g-3">
            <div class="col-lg-2 mb-3">
              <label for="type" class="form-label">Tipo de Endereço:</label>
              <select
                class="form-select"
                id="type"
                [(ngModel)]="client.address.type"
                name="type"
              >
                <option value="rua">Rua</option>
                <option value="avenida">Avenida</option>
                <option value="alameda">Alameda</option>
                <option value="estrada">Estrada</option>
                <option value="praça">Praça</option>
                <option value="quadra">Quadra</option>
              </select>
            </div>

            <div class="col-lg-8 mb-3">
              <label for="street" class="form-label">Logradouro:</label>
              <input
                required
                type="text"
                class="form-control"
                id="street"
                [(ngModel)]="client.address.street"
                name="street"
              />
            </div>

            <div class="col-lg-2 mb-3">
              <label for="number" class="form-label">Número:</label>
              <input
                required
                type="text"
                class="form-control"
                id="number"
                [(ngModel)]="client.address.number"
                name="number"
              />
            </div>
          </div>

          <div class="row g-3">
            <div class="col-lg-3 mb-3">
              <label for="complement" class="form-label">Complemento:</label>
              <input
                required
                type="text"
                class="form-control"
                id="complement"
                [(ngModel)]="client.address.complement"
                name="complement"
              />
            </div>

            <div class="col-lg-3 mb-3">
              <label for="cep" class="form-label">CEP:</label>
              <input
                required
                type="text"
                class="form-control"
                id="cep"
                [(ngModel)]="client.address.cep"
                name="cep"
                [showMaskTyped]="true"
                [shownMaskExpression]="'_____-___'"
                mask="00000-000"
              />
            </div>

            <div class="col-lg-3 mb-3">
              <label for="city" class="form-label">Cidade:</label>
              <input
                required
                type="text"
                class="form-control"
                id="city"
                [(ngModel)]="client.address.city"
                name="city"
              />
            </div>

            <div class="col-lg-3 mb-3">
              <label for="state" class="form-label">Estado:</label>
              <input
                required
                type="text"
                class="form-control"
                id="state"
                [(ngModel)]="client.address.state"
                name="state"
              />
            </div>
          </div>

          <div class="w-auto mb-3 text-center">
            <button type="submit" class="btn btn-outline-danger">
              Atualizar Dados
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
