<div class="container">
  <div class="card w-75 mt-5 mx-auto">
    <div class="card-body">
      <h3 class="card-title text-center">Cadastro de gerente</h3>
      <form>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="name" placeholder="000.000.000-00">
          </div>
          <div class="col-md-9">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Insira o nome">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-9">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Insira o email/login">
          </div>
          <div class="col-md-3">
            <label for="phone" class="form-label">Telefone</label>
            <input type="tel" name="" id="phone" class="form-control" placeholder="Insira o telefone">
          </div>
        </div>
        <button type="submit" class="btn btn-danger">Cadastrar</button>
      </form>
    </div>
  </div>
</div>